.starting {
  margin-top: 13%;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}
h6 {
  animation: growth 3s;
  animation-fill-mode: backwards;
  font-size: 4rem;
}
@keyframes growth {
  0% {
    font-size: 4rem;
  }
  100% {
    font-size: 6rem;
  }
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1000% 1000%;
    animation: gradient 20s ease infinite;}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
